body, html{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

}

.container {
	position: relative;
	width: 100%;
	background-color: grey;
	
	height: 100%;
	
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.vvid > input{
	
    width: 100%;
    margin: 0px 0px 16px 5px;
    min-height: 100%;
    border: none;
    outline: none;
	
}
 

.perevod > input {
    width: 100%;
    margin: 16px 0px 16px 5px;
    min-height: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}

.perevod > input{
	margin-top: 8px;
}
.perevod{
    height: 60px;
	background-color: #727FA5;
    /* margin-top: auto; */
    padding-top: 10px;
    padding-bottom: 10px;
    /* text-align: center; */
    box-shadow: lightslategray;
    box-sizing: content-box;
}

.title{
	    background-color: #727FA5;
    /* margin-top: auto; */
    padding-top: 10px;
    padding-bottom: 10px;
    /* text-align: center; */
    width: 100%;
    height: 100px;
    box-shadow: lightslategray;
    box-sizing: content-box;
}
.title > h4{
	    color: white;
    margin-left: 10px;
    margin-top: 40px;
    font-size: -webkit-xxx-large;
    margin-right: 0px;
}
.vvid{
	background-color: #fff;
    height: 60px;
}
#click{
	background-color: #4CAF50;
    border: 0px;
    width: 85px;
    height: 26px;
    color: #ffffff;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.answer{
	width: 85px;
    padding: 3px;
    color: white;

    /* margin: 3px; */
    display: inline-block;
}



.first-row > div {
    display : inline;
}

.second-row > div {
    display : inline;
}

.third-row > div {
    display : inline;
}

.four-row > div {
    display : inline;
}

.div-btn > button{
    width: 100px;
    margin : 10px;
    height: 100px;
}

.calc{
    /*float : left;*/
    max-width: 1280px;
    margin: 0px auto 0;
    padding: 20px 40px;
    background: #aaa;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.div-btn>button
{
    background: #f5d781;
    width: 140px;
    height: 140px;
    border: 5px solid #30c;
    color: white;
    padding: 20px;
    margin: 20px 10px;
    box-sizing: border-box;
}

.div-btn > #btn-c {
    
    width: 220px;
    height: 100px;
    
}