<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>UNO</title>

    <!-- <link href="lib/ionic/css/ionic.css" rel="stylesheet"> -->
    <!-- <link href="css/style.css" rel="stylesheet"> -->

    <!-- IF using Sass (run gulp sass first), then remove the CSS include above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <link rel="stylesheet" href='css/style.css'>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <!-- cordova script (this will be a 404 during development) -->

    <script src="js/controller.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>


<body class="platform-android platform-cordova platform-webview">
<div id="container">
<span ng-app="myApp" ng-controller="namesCtrl">
<h1>UNO</h1>
<div id="people">
  <ol>
    <li ng-repeat="x in names" id='list'>

      <input type="number" ng-model="addMe" id='input' pattern="[0-9]*" >
      <button ng-click="x.count = x.count + 1*addMe; addMe='' " id="button">+</button>
      <button ng-click="x.count = 0" id="button">0</button>
      {{ x.name + ' - ' + x.count }}
      <span ng-click="removeItem($index)" class="x">×</span>

    </li>

  </ol>

  </div>
<div id="addPerson">
  <input ng-model="value" >
  <button ng-click="add(); value='' " id="button">+</button>

</div>

</span>

  </body>
</html>
