@font-face {

    src: url(fonts/roboto/Roboto-Regular.ttf);
    font-family: Roboto-Regular;
   }
#list{

	/*padding: 10px;*/
	padding-top: 10px;
	padding-right: 10px;

}

#addPerson{
	padding: 10px;
	padding-left: 56px;
}
body{
	background-color: 	rgb(236, 239, 241);
}
h1{
	color:white;
}

#container{
	background-color: #727FA5;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	width: 390px;
	margin: auto;

}

#button{

	background-color: #4CAF50;
	border: 0px;
	width: 26px;
	height: 26px;
	color: #ffffff;
	border-radius: 20px;
	text-align: center;

}

h1{
	text-align: center;
	    margin-top: 7px;
    margin-bottom: 4px;
		font-family: Roboto-Regular;
}

#people{
width: 100%;
background-color: #ffffff;
display: inline-block;
border-bottom: 1px solid #ddd;
border-top: 1px solid #ddd;

}
#input{
	width: 120px;

}

.x{
	float: right;
	margin-right: 11px;
	font-weight: bold;
	font-size: 26px;
	cursor:pointer;
	margin-top: -5px;
}
